* {
  font-family: "Epilogue", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(0, 0%, 98%);
  overflow-x: hidden;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 50px;
}

.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 40px;
}

.logo img {
  vertical-align: bottom;
}

.features-list,
.company-list {
  position: relative;
}

.features-dropdown {
  position: absolute;
  background-color: white;
  top: 100%;
  left: 0;
  min-width: 150px;
  padding: 10px 15px;
  list-style: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: none;
}

.company-dropdown {
  position: absolute;
  background-color: white;
  top: 100%;
  min-width: 110px;
  left: 0;
  padding: 10px 15px;
  list-style: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: none;
}

.company-dropdown li,
.features-dropdown li {
  padding: 7px 0;
}

.features-list:hover .features-dropdown {
  display: block;
}

.company-list:hover .company-dropdown {
  display: block;
}

.up-down-svg {
  transition: transform 0.2s ease-in-out;
}

.down-up-svg {
  transition: transform 0.2s ease-in-out;
}

.features-list:hover .up-down-svg {
  transform: rotate(180deg);
}

.company-list:hover .down-up-svg {
  transform: rotate(180deg);
}

.nav-links a {
  text-decoration: none;
  color: hsl(0, 0%, 41%);
}

.navbar a:hover {
  color: hsl(0, 0%, 8%);
}

.login-btn {
  font-size: 16px;
  background-color: hsl(0, 0%, 98%);
  padding: 10px 20px;
  border-radius: 10px;
  border: none;
  color: hsl(0, 0%, 41%);
}

.register-btn {
  font-size: 16px;
  background-color: hsl(0, 0%, 98%);
  padding: 10px 20px;
  border: 1px solid hsl(0, 0%, 41%);
  border-radius: 10px;
  color: hsl(0, 0%, 41%);
}

.login-btn:hover {
  color: hsl(0, 0%, 8%);
  cursor: pointer;
}

.register-btn:hover {
  color: hsl(0, 0%, 8%);
  border: 1px solid hsl(0, 0%, 8%);
  cursor: pointer;
}

.center-svg {
  display: flex;
  align-items: center;
}

.up-down-svg {
  margin-left: 10px;
}

.down-up-svg {
  margin-left: 10px;
}

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 300px;
  z-index: 99;
  background-color: hsl(0, 0%, 98%);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: block;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 20px;
  transform: translateX(100%);
  transition: transform 250ms ease-in;
}

.active {
  transform: translateX(0%);
}

.sidebar .nav-links {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 20px;
  width: 260px;
}

.sidebar-buttons {
  list-style: none;
  width: 260px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  gap: 20px;
}

.menu {
  align-self: flex-end;
}

.menu-button {
  display: none;
}

.hero-container {
  width: 80%;
  display: flex;
  justify-content: space-between;
  margin: 50px auto;
}

.text-container {
  width: 40%;
  display: flex;
  flex-direction: column;
}

.mobile-img {
  display: none;
  min-width: 350px;
}

.desktop-img {
  height: 600px;
  width: 450px;
}

.hero-title {
  font-size: 4rem;
  color: hsl(0, 0%, 8%);
  margin-top: 140px;
}

.hero-text {
  font-size: 18px;
  color: hsl(0, 0%, 41%);
  margin: 60px 0;
}

.head-block {
  display: block;
}

.hero-btn {
  width: 140px;
  border: none;
  background-color: hsl(0, 0%, 8%);
  color: hsl(0, 0%, 98%);
  padding: 15px 15px;
  border-radius: 13px;
  font-size: 18px;
  transition: all 1s;
}

.hero-btn:hover {
  background-color: hsl(0, 0%, 98%);
  color: hsl(0, 0%, 8%);
  border: 2px solid hsl(0, 0%, 8%);
}

.hero-logo-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 75px;
}

@media (max-width: 900px) {
  .hideOnMobile {
    display: none;
  }

  .menu-button {
    display: block;
  }

  .navbar {
    padding: 0 20px;
  }

  .features-dropdown,
  .company-dropdown {
    display: none;
    position: static;
    background-color: white;
    width: 100%;
    padding: 10px 15px;
    list-style: none;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
  }

  .features-list:hover .up-down-svg {
    transform: rotate(0deg);
  }

  .company-list:hover .down-up-svg {
    transform: rotate(0deg);
  }

  .hero-container {
    flex-direction: column;
    width: 100%;
  }

  .image-container {
    order: -1;
    flex-grow: 1;
    flex-shrink: 1;
  }

  .desktop-img {
    display: none;
  }

  .mobile-img {
    display: block;
    width: 100%;
  }

  .hero-container {
    margin-top: 0;
  }

  .text-container {
    width: 100%;
    align-items: center;
  }

  .text-container * {
    margin: 0;
    padding: 0;
    text-align: center;
  }

  .hero-title {
    font-size: 2.3rem;
    margin: 30px 0 10px 0;
  }

  .head-block {
    display: inline;
  }

  .hero-text {
    line-height: 1.2em;
    padding: 10px;
    font-size: 18px;
  }

  .hero-btn {
    margin: 20px 0 50px 0;
    font-size: 18px;
    padding: 15px 15px;
  }

  .hero-logo-container {
    gap: 10px;
  }

  .hero-logo-container img {
    width: 70px;
    height: auto;
  }
}
